<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>uhSabadu</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="slider">
        <img src="/images/carru1.jpg" alt="Imagen 1" />
        <img src="/images/carru2.jpg" alt="Imagen 2" />
        <img src="/images/carru3.jpg" alt="Imagen 3" />
        <img src="/images/carru4.jpg" alt="Imagen 4" />
        <img src="/images/carru5.jpg" alt="Imagen 5" />
        <img src="/images/carru6.jpg" alt="Imagen 6" />
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
