<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uhSabadu</title>
    <link rel="stylesheet" href="css/productDetail_style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="main_img_principal">
            <img class="img_lateral2" src="images/img_principal.png" alt="pc prueba">
        </section>
        <section class="main_img_lateral">
            <img class="img_lateral" src="images/lateral1.webp" alt="imagen lateral">
            <img class="img_lateral" src="images/lateral2.webp" alt="imagen lateral">
            <img class="img_lateral" src="images/lateral3.webp" alt="imagen lateral">
            <img class="img_lateral" src="images/lateral4.webp" alt="imagen lateral">
        </section>
        <section class="main_otros">

        </section>
        <section class="main_caracteristicas">
            <div class="features1">CARACTERISTICAS GENERALES
                <div class="features1_left">
                    <ul>
                        <li>Color</li>
                        <li>Sistema Operativo</li>
                        <li> Tipo De Cpu</li>
                        <li> Tipo De Gpu</li>
                        <li> Batería Extraible</li>
                        <li> Modelo Gpu</li>
                        <li> Modelo Cpu</li>
                        <li> Tipo</li>
                        <li> Memoria Gpu</li>
                        <li> Lector De Huellas</li>
                        <li> Familia Del Procesador</li>
                    </ul>
                </div>
                <div class="features1_value">
                    <ul>
                        <li>Negro</li>
                        <li>Windows 11 Home</li>
                        <li>Intel</li>
                        <li>Nvidia GeForce</li>
                        <li>No</li>
                        <li>GTX 1650</li>
                        <li>Core i5 10300H</li>
                        <li>Notebook</li>
                        <li>4 gb</li>
                        <li>No</li>
                        <li>Intel Core i5</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>