<%- include('../partials/head') %>
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/ProductCart.css">
    </head>

    <body>
        <%- include('../partials/header') %>
        <div class="subnav">
            <a href="#">Productos</a>
            <a href="#">Arma tu PC</a>
            <a href="#">Ayuda</a>
            <a href="#">Marcas Sponsor</a>
        </div>

        <div class="producto">
            <div class="producto-info">
                <img src="producto.jpg" alt="Producto">
                <h2>Nombre del Producto</h2>
                <div class="detalles">
                    <p> $50.00</p>
                    <div class="quantity">
                        <button>-</button>
                        <span>1</span>
                        <button>+</button>
                    </div>
                </div>
            </div>

            <form id="checkoutForm" action="/procesar-compra" method="post">
                <label for="codigoPostal">Código Postal:</label>
                <input type="text" id="codigoPostal" name="codigoPostal" required>

                <label for="codigoDescuento">Código de Descuento:</label>
                <input type="text" id="codigoDescuento" name="codigoDescuento">

                <label for="facturacion">Información de Facturación:</label>
                <textarea id="facturacion" name="facturacion" required></textarea>

                <label for="metodoPago">Método de Pago:</label>
                <select id="metodoPago" name="metodoPago" required>
                    <option value="tarjeta">Tarjeta de Crédito</option>
                    <option value="paypal">PayPal</option>
                    <option value="debito">Debito</option>
                    <option value="transferencia">Transferencia</option>
                </select>

                <button type="submit">Comprar</button>
            </form>
            <%- include('../partials/footer') %>
    </body>

    </html>